import { useState } from 'react';
import { Reactive, useReactorOnSuccess } from '@livefree/reactive';
import { DeleteButton, SaveButton, withModalController } from '@livefree/react-ui';
import { {{ _ModelName }}Form } from 'features/{{ _moduleNameCamel }}/components';

const {{ _ModelName }}UpdateController = Reactive(
  ({ services, data, monitors, {{ _modelNameCamel }}Id, onSuccess, onClose }) => {
    const { {{ _modelNameCamel }} } = data;
    const [form, setForm] = useState({});

    useReactorOnSuccess(services.{{ _moduleNameCamel }}, 'update{{ _ModelName }}', payload => {
      onSuccess && onSuccess(payload);
    });

    useReactorOnSuccess(services.{{ _moduleNameCamel }}, 'delete{{ _ModelName }}', () => {
      onClose && onClose();
    });

    return (
      <div className="flex flex-col gap-2">
        <{{ _ModelName }}Form {{ _modelNameCamel }}={ {{ _modelNameCamel }} } onChange={setForm} />
        <div className="flex justify-between gap-2">
          <DeleteButton
            size="sm"
            onPress={() => services.{{ _moduleNameCamel }}.delete{{ _ModelName }}({{ _modelNameCamel }}Id)}
            isLoading={monitors.delete{{ _ModelName }}.executing}
          />
          <SaveButton
            size="sm"
            isDisabled={!form.isValid}
            onPress={() =>
              services.{{ _moduleNameCamel }}.update{{ _ModelName }}({{ _modelNameCamel }}Id, form.data)
            }
            isLoading={monitors.update{{ _ModelName }}.executing}
          />
        </div>
      </div>
    );
  },
  {
    name: '{{ _ModelName }}UpdateController',
    sync: (services, { {{ _modelNameCamel }}Id }) => [
      {
        execute: () => services.{{ _moduleNameCamel }}.get{{ _ModelName }}({{ _modelNameCamel }}Id),
        deps: [{{ _modelNameCamel }}Id],
      },
    ],
    queries: ({ {{ _modelNameCamel }}Id }) => [
      {
        name: '{{ _modelNameCamel }}',
        defaultValue: {},
        execute: db => db.{{ _moduleNameCamel }}.get({{ _modelNameCamel }}Id),
        deps: [{{ _modelNameCamel }}Id],
      },
    ],
    monitors: services => [
      services.{{ _moduleNameCamel }}.update{{ _ModelName }},
      services.{{ _moduleNameCamel }}.delete{{ _ModelName }},
    ],
  },
);

{{ _ModelName }}UpdateController.Modal = withModalController(({ onSuccess, ...props }) => (
  <{{ _ModelName }}UpdateController onSuccess={onSuccess} {...props} />
));

export { {{ _ModelName }}UpdateController };
